<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <form class="register">
        <div class="form-group">
            <h4 class="text-center">Đăng kí</h4>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Số điện thoại" [(ngModel)] = "phoneNumber" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group" *ngIf="checkPassword == false">
            <h5 style="color: red;">Mật khẩu xác nhận không đúng</h5>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Nhập mật khẩu" [(ngModel)] = "password" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" [(ngModel)] = "passwordConfirm" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Họ" [(ngModel)] = "customerInfo.lastName" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Tên" [(ngModel)] = "customerInfo.firstName" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <input type="date" class="form-control" placeholder="Ngày sinh" [(ngModel)] = "birthDay" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Email" [(ngModel)] = "customerInfo.cusEmail" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <select [(ngModel)]="customerInfo.cusGender" class="form-control" [ngModelOptions]="{standalone: true}">
                <!--Sử dụng ngValue để ngModel lấy dữ liệu. Chứ không là ngModel lấy dữ liệu data.Name-->
                <option [(ngValue)] ="data.genderValue" *ngFor="let data of genderSelect; index as i" [selected]="data.selected == true">
                    {{data.genderName}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-success form-control" (click)="createNewCustomer()">Đăng kí</button>
        </div>
    </form>
</body>

</html>