body{
    background-color: #fafafa;
    padding: 20px;
}
/*register*/
.register{
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 5px;
}
/*register*/