<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <div class="container">
        <h2>
            <p>Bạn vui lòng kiểm tra lại đặt chỗ</p>
        </h2>
        <h4>
            <p>Thông tin của bạn</p>
        </h4>
        <form class="check-booking-again">
            <div class="row">
                <div class="col-3 text-center">
                    <img src="https://floridahotel.vn/uploads/pages/n4-2140-870x0.jpg"
                        style="width: 200px; height: 200px;" />
                </div>
                <div class="col-9">
                    <h5>Terracotta Hotel & Resort Dalat</h5>
                    <hr />
                    <div class="row">
                        <div class="col-4">
                            <div class="title-text-details">
                                Ngày nhận phòng
                            </div>
                            <div class="content-text-details">
                                T3, 18 Th08 2020
                            </div>
                            <div class="content-text-details">
                                14:00
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="title-text-details">
                                Ngày trả phòng
                            </div>
                            <div class="content-text-details">
                                T4, 19 Th08 2020
                            </div>
                            <div class="content-text-details">
                                12:00
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="title-text-details">
                                Số đêm nghỉ
                            </div>
                            <div class="content-text-details">
                                1 đêm
                            </div>
                        </div>
                    </div>
                    <div class="customer-name">
                        <div class="title-text-details">
                            Tên khách
                        </div>
                        <div class="content-text-details">
                            Nguyễn Văn A
                        </div>
                    </div>
                    <hr />
                    <div class="booking-room-details">
                        <div class="title-text-details">
                            Chi tiết phòng
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="content-text-details">
                                    Hạng phòng:
                                </div>
                                <div class="content-text-details">
                                    Kiểu phòng:
                                </div>
                                <div class="content-text-details">
                                    Số phòng:
                                </div>
                                <div class="content-text-details">
                                    Khách/phòng:
                                </div>
                                <div class="content-text-details">
                                    Yêu cầu đặc biệt:
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="content-text-details">
                                    Standard Twin Room (Basement Floor)
                                </div>
                                <div class="content-text-details">
                                    2 giường đơn
                                </div>
                                <div class="content-text-details">
                                    1 phòng
                                </div>
                                <div class="content-text-details">
                                    2 khách
                                </div>
                                <div class="content-text-details">
                                    -
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--Noice-->
        <div class="noice" style="margin-top: 20px;">
            <p style="font-weight: 700; font-size: 17px;">Lưu ý</p>
            <p class="text-break" style="font-size: 17px;">
                Thời gian hiển thị là giờ địa phương. Số đêm nghỉ và hạng phòng không được thay đổi.
                Bạn vui lòng xem lại thông tin đặt phòng trước khi thanh toán.
            </p>
        </div>
        <!--Price Details-->
        <div class="price" style="margin-top: 20px;">
            <h4>
                <p>Chi tiết giá</p>
            </h4>
            <div class="price-details">
                <div class="row">
                    <div class="col-12">
                        <h5 style="font-weight: bold; margin-bottom: 20px;">
                            <div class="text-center">Terracotta Hotel & Resort Dalat</div>
                        </h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h5>
                            <p class="text-left">(1x) Standard Twin Room (Basement Floor) (1 đêm)</p>
                        </h5>
                    </div>
                    <div class="col-6">
                        <h5>
                            <p class="text-right">1.001.732 VND</p>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h5>
                            <p class="text-left">Phí khách sạn</p>
                        </h5>
                    </div>
                    <div class="col-6">
                        <h5>
                            <p class="text-right">155.268 VND</p>
                        </h5>
                    </div>
                </div>
                <hr />
                <!--Total Price-->
                <div class="row">
                    <div class="col-6">
                        <h4>
                            <p class="text-left">Tổng giá tiền</p>
                        </h4>
                    </div>
                    <div class="col-6">
                        <h4>
                            <p class="text-right">1.157.000 VND</p>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <!--Confirm-->
        <div class="confirm-booking" style="margin-top: 20px;">
            <div class="row">
                <div class="col-9">
                    <p class="text-break">Bạn sẽ tiếp tục với quy trình tiếp theo nếu bạn nhấn nút tiếp.
                        Hãy kiểm tra lại thông tin trước khi nhấn tiếp tục.
                    </p>
                </div>
                <div class="col-3 text-right">
                    <button type="button" class="btn btn-warning">Tiếp tục thanh toán</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>