<!DOCTYPE html>
<html>

<head>
    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <title></title>
</head>

<body>
    <div class="container">
        <h2>
            <p>Bạn vui lòng kiểm tra lại đặt chỗ</p>
        </h2>
        <h4>
            <p>Thông tin của bạn</p>
        </h4>
        <form class="check-booking-again">
            <div class="row">
                <div class="col-3 text-center">
                    <img src="https://floridahotel.vn/uploads/pages/n4-2140-870x0.jpg"
                        style="width: 200px; height: 200px;" />
                </div>
                <div class="col-9">
                    <h2 class="text-center">{{roomOfHotel.hotelName}}</h2>
                    <hr />
                    <div class="row">
                        <div class="col-4">
                            <div class="title-text-details">
                                Ngày nhận phòng
                            </div>
                            <div class="content-text-details">
                                {{checkInDate}}
                            </div>
                            <div class="content-text-details">
                                {{roomOfHotel.checkInTime}}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="title-text-details">
                                Ngày trả phòng
                            </div>
                            <div class="content-text-details">
                                {{checkOutDate}}
                            </div>
                            <div class="content-text-details">
                                {{roomOfHotel.checkOutTime}}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="title-text-details">
                                Số đêm nghỉ
                            </div>
                            <div class="content-text-details">
                                {{nightAmount}} đêm
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="customer-name col-4">
                            <div class="title-text-details">
                                Tên khách
                            </div>
                            <div class="content-text-details">
                                {{customer.lastName}} {{customer.firstName}}
                            </div>
                        </div>
                        <div class="customer-email col-4">
                            <div class="title-text-details">
                                Email
                            </div>
                            <div class="content-text-details">
                                {{customer.cusEmail}}
                            </div>
                        </div>
                        <div class="customer-phone-number col-4">
                            <div class="title-text-details">
                                Số điện thoại
                            </div>
                            <div class="content-text-details">
                                {{customer.phoneNumber}}
                            </div>
                        </div>
                    </div> 
                    <hr/>
                    <div class="booking-room-details">
                        <div class="title-text-details">
                            Chi tiết phòng
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="content-text-details">
                                    Hạng phòng:
                                </div>
                                <div class="content-text-details">
                                    Kiểu phòng:
                                </div>
                                <div class="content-text-details">
                                    Số phòng:
                                </div>
                                <div class="content-text-details">
                                    Khách/phòng:
                                </div>
                                <div class="content-text-details">
                                    Yêu cầu đặc biệt:
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="content-text-details">
                                   {{roomOfHotel.roomName}}
                                </div>
                                <div class="content-text-details">
                                    {{roomOfHotel.bedAmount}} giường
                                </div>
                                <div class="content-text-details">
                                    1 phòng
                                </div>
                                <div class="content-text-details">
                                    {{roomOfHotel.peopleAmount}} khách
                                </div>
                                <div class="content-text-details">
                                    {{specialRequirements}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--Noice-->
        <div class="noice" style="margin-top: 20px;">
            <p style="font-weight: 700; font-size: 17px;">Lưu ý</p>
            <p class="text-break" style="font-size: 17px;">
                Thời gian hiển thị là giờ địa phương. Số đêm nghỉ và hạng phòng không được thay đổi.
                Bạn vui lòng xem lại thông tin đặt phòng trước khi thanh toán.
            </p>
        </div>
        <!--Price Details-->
        <div class="price" style="margin-top: 20px;">
            <h4>
                <p>Chi tiết giá</p>
            </h4>
            <div class="price-details">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center">
                            {{roomOfHotel.hotelName}}
                        </h2>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-6">
                        <h5>
                            <p class="text-left text-price-details">{{roomOfHotel.roomName}}</p>
                        </h5>
                    </div>
                    <div class="col-6">
                        <h5>
                            <p class="text-right text-price-details">{{roomOfHotel.roomPriceForNight}} VND</p>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h5>
                            <p class="text-left text-price-details">Giảm giá</p>
                        </h5>
                    </div>
                    <div class="col-6">
                        <h5>
                            <p class="text-right text-price-details">{{roomOfHotel.discount * 100}} %</p>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h5>
                            <p class="text-left text-price-details">Số tiền được giảm</p>
                        </h5>
                    </div>
                    <div class="col-6">
                        <h5>
                            <p class="text-right text-price-details">{{discountPrice}} VND</p>
                        </h5>
                    </div>
                </div>
                <hr />
                <!--Total Price-->
                <div class="row">
                    <div class="col-6">
                        <h4>
                            <p class="text-left text-price-details" style="font-size: 20px;">Tổng giá tiền</p>
                        </h4>
                    </div>
                    <div class="col-6">
                        <h4>
                            <p class="text-right text-price-details" style="font-size: 20px;">{{priceAfterDiscount}} VND</p>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <!--Payment method-->
        <div class="payment-method" style="margin-top: 20px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Chi tiết thanh toán
                    </h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label class="lable-payment">Họ tên</label>
                            <input type="text" class="form-control" placeholder="Nhập vào họ tên không dấu" />
                        </div>
                        <div class="form-group">
                            <label class="lable-payment">
                                Mã thẻ</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Nhập vào mã thẻ"
                                    required autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="lable-payment">Tháng hết hạn</label>
                                    <input type="text" class="form-control" id="expityMonth" placeholder="MM"
                                        required />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="lable-payment">Năm hết hạn</label>
                                    <input type="text" class="form-control" id="expityYear" placeholder="YY" required />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="lable-payment">CV Code</label>
                                    <input type="password" class="form-control" id="cvCode"
                                        placeholder="Ba chữ số ở đằng sau thẻ" required />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Confirm-->
        <div class="confirm-booking">
            <div class="row">
                <div class="col-9">
                    <p class="text-break">Bạn sẽ tiếp tục với quy trình tiếp theo nếu bạn nhấn nút tiếp.
                        Hãy kiểm tra lại thông tin trước khi nhấn tiếp tục.
                    </p>
                </div>
                <div class="col-3 text-right">
                    <button type="button" class="btn btn-warning" (click)="openConformBookingModal()">
                        Đặt phòng
                    </button>
                </div>
            </div>
        </div>
        <!--Conform Booking Modal-->
        <div class="modal" id="comform-booking-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Xác nhận đặt phòng</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-break">Bạn chắc chắn các thông tin đã chính xác rồi chứ ?
                            Bạn không thể sửa loại phòng và số đêm nhưng bạn vẫn có thể hủy
                            (Tùy vào chính sách của khách sạn).
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="createCustomerBooking()">Tiếp tục đặt phòng</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>