<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <div class="container">
        <h2>
            <p>Đặt phòng khách sạn</p>
        </h2>
        <form class="information-form row">
            <div class="customer-form col-7">
                <div class="customer-information">
                    <h4 class="text-center">
                        <p>Thông tin của bạn</p>
                    </h4>
                    <div class="form-group">
                        <h5>Tên người liên hệ</h5>
                        <input type="text" class="form-control" [(ngModel)]="fullNameToContact" [ngModelOptions]="{standalone: true}"/>
                        <div class="text-break text-example">Nhập tên như trên CMND / Hộ chiếu</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            <h5>Số di động:</h5>
                            <input type="text" class="form-control" [(ngModel)]="customer.phoneNumber" [ngModelOptions]="{standalone: true}"/>
                            <div class="text-break text-example">Ví dụ: 0901234567</div>
                        </div>
                        <div class="col-6">
                            <h5>Email:</h5>
                            <input type="email" class="form-control" [(ngModel)]="customer.cusEmail" [ngModelOptions]="{standalone: true}"/>
                            <div class="text-break text-example">Ví dụ: email@example.com</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <h5>Tên khách</h5>
                        <input type="text" class="form-control" [(ngModel)]="fullNameOfCus" [ngModelOptions]="{standalone: true}"/>
                        <div class="text-break text-example">Nhập tên như trên CMND / Hộ chiếu</div>
                    </div>
                    <div class="form-group">
                        <h5>Yêu cầu đặc biệt (nếu có)</h5>
                        <textarea class="form-control" rows="3" [(ngModel)]="specialRequirements"  [ngModelOptions]="{standalone: true}"></textarea>
                        <div class="special-requirement text-break">
                            Nếu bạn có yêu cầu đặc biệt cho phòng của bạn. Thì bạn hãy cho chúng tôi biết để được
                            đáp ứng nguyện vọng và yêu cầu. (Xin lưu ý yêu cầu không được đảm bảo trước và thể thu phí).
                            Mọi thông tin sẽ được gửi về Email của bạn.
                        </div>
                    </div>
                </div>
                <!--Price Details-->
                <div class="price">
                    <h2>
                        <p>Chi tiết giá</p>
                    </h2>
                    <div class="price-details">
                        <div class="row">
                            <div class="col-12">
                                <h5 style="font-weight: bold;">
                                    <div class="text-center">{{roomOfHotel.roomOfHotel}}</div>
                                </h5>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-6">
                                <h5>
                                    <p class="text-left">{{roomOfHotel.roomName}}</p>
                                </h5>
                            </div>
                            <div class="col-6">
                                <h5>
                                    <p class="text-right">{{roomOfHotel.roomPriceForNight}} VND</p>
                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h5>
                                    <p class="text-left">Giảm giá</p>
                                </h5>
                            </div>
                            <div class="col-6">
                                <h5>
                                    <p class="text-right">{{roomOfHotel.discount * 100}} %</p>
                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h5>
                                    <p class="text-left">Số tiền được giảm</p>
                                </h5>
                            </div>
                            <div class="col-6">
                                <h5>
                                    <p class="text-right">{{discountPrice}} VND</p>
                                </h5>
                            </div>
                        </div>
                        <hr />
                        <!--Total Price-->
                        <div class="row">
                            <div class="col-6">
                                <h4>
                                    <p class="text-left">Tổng giá tiền</p>
                                </h4>
                            </div>
                            <div class="col-6">
                                <h4>
                                    <p class="text-right">{{priceAfterDiscount}} VND</p>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Confirm-->
                <div class="confirm-booking">
                    <div class="row">
                        <div class="col-9">
                            <p class="text-break">Bạn sẽ tiếp tục với quy trình tiếp theo nếu bạn nhấn nút tiếp.
                                Hãy kiểm tra lại thông tin trước khi nhấn tiếp tục.
                            </p>
                        </div>
                        <div class="col-3 text-right">
                            <button type="button" class="btn btn-warning" (click)="comformInfo()">Tiếp tục</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="hotel-room-details">
                    <h5>Kiểm tra thông tin đặt phòng</h5>
                    <hr />
                    <div class="row">
                        <div class="col-3">
                            <img src="https://r-cf.bstatic.com/images/hotel/max500/231/231774149.jpg"
                                style="width: 70px; height: 70px; border-radius: 5px;" />
                        </div>
                        <div class="col-9">
                            <div class="text-break">{{roomOfHotel.hotelName}}</div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-6 policy-apply">
                            <div class="policy-tilte" style="font-weight: 500; font-size: 14px">Áp dụng</div>
                            <div class="show-policy-apply" *ngFor="let data of policyApplyList">
                                {{data}}
                            </div>
                        </div>
                        <div class="col-6 policy-not-apply">
                            <div class="policy-tilte"  style="font-weight: 500; font-size: 14px">Không áp dụng</div>
                            <div class="show-policy-not-apply" *ngFor="let data of policyNotApplyList">
                                {{data}}
                            </div>
                        </div>
                    </div>
                    <hr />
                    <!--Số đêm-->
                    <div class="row">
                        <div class="col-6">
                            <p class="text-left booking-hotel-info">Số đêm nghỉ</p>
                        </div>
                        <div class="col-6">
                            <p class="text-right booking-hotel-info">{{bookingInfo.nightsAmount}} đêm</p>
                        </div>
                    </div>
                    <!--Ngày giờ nhận-->
                    <div class="row">
                        <div class="col-6">
                            <p class="text-left booking-hotel-info">Ngày nhận phòng:</p>
                        </div>
                        <div class="col-6">
                            <p class="text-right booking-hotel-info">{{bookingInfo.checkInDate | date: 'dd-MM-yyyy'}}</p>
                        </div>
                    </div>
                    <p class="text-right booking-hotel-info">{{roomOfHotel.checkInTime}}</p>
                    <!--Ngày giờ trả-->
                    <div class="row">
                        <div class="col-6">
                            <p class="text-left booking-hotel-info">Ngày trả phòng:</p>
                        </div>
                        <div class="col-6">
                            <p class="text-right booking-hotel-info">{{bookingInfo.checkOutDate | date: 'dd-MM-yyyy'}}</p>
                        </div>
                    </div>
                    <p class="text-right booking-hotel-info">{{roomOfHotel.checkOutTime}}</p>
                    <hr />
                    <!--Loại phòng-->
                    <div class="row">
                        <div class="col-6">
                            <p class="text-left booking-hotel-info">Hạng phòng:</p>
                        </div>
                        <div class="col-6">
                            <p class="text-right booking-hotel-info">{{roomOfHotel.roomName}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-left booking-hotel-info">Kiểu giường:</p>
                        </div>
                        <div class="col-6">
                            <p class="text-right booking-hotel-info">{{roomOfHotel.bedAmount}} giường</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-left booking-hotel-info">Khách/phòng</p>
                        </div>
                        <div class="col-6">
                            <p class="text-right booking-hotel-info">{{roomOfHotel.peopleAmount}} khách</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>