<nav class="navbar navbar-expand-lg navbar-light bg-light text-right">
    <div class="container p-2">
        <a class="navbar-brand" [routerLink]="['/']">
            Go2Fun
        </a>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav">
                <li class="nav-item active booking-process-list" style="color: #1ba0e2;">
                    1 Điền thông tin
                </li>
                <li class="nav-item booking-process-list">
                    - 2 Xem lại
                </li>
                <li class="nav-item booking-process-list">
                    - 3 Thanh toán
                </li>
                <li class="nav-item booking-process-list">
                    - 4 Xử lí
                </li>
                <li class="nav-item booking-process-list">
                    - 5 Gửi phiếu thanh toán
            </ul>
        </div>
    </div>
</nav>
