<body>
  <div class="not-full" *ngIf="showLogin && showRegister && showFillInInformation && showCheckBookingAgain">
    <app-nav-menu></app-nav-menu>
    <router-outlet></router-outlet>

  </div>
  <div class="login" *ngIf="!showLogin">
    <app-login></app-login>
  </div>
  <div class="register" *ngIf="!showRegister">
    <app-register></app-register>
  </div>
  <div class="fill-in-information" *ngIf="!showFillInInformation">
    <app-booking-process></app-booking-process>
    <app-fill-in-information></app-fill-in-information>
  </div>
  <div class="check-booking-again" *ngIf="!showCheckBookingAgain">
    <app-booking-process></app-booking-process>
    <app-check-booking-again></app-check-booking-again>
  </div>
  <!-- <div class="full" *ngIf="logged == false">
    <app-login></app-login>
  </div> -->
</body>

