<body>
  <div class="not-full" *ngIf="showLogin && showRegister && showFillInInformation">
    <app-nav-menu></app-nav-menu>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="login" *ngIf="!showLogin">
    <app-login></app-login>
  </div>
  <div class="register" *ngIf="!showRegister">
    <app-register></app-register>
  </div>
  <div class="fill-in-information" *ngIf="!showFillInInformation">
    <app-fill-in-information></app-fill-in-information>
  </div>
  <!-- <div class="full" *ngIf="logged == false">
    <app-login></app-login>
  </div> -->
</body>

