<app-admin-navbar></app-admin-navbar>
<div class="container">
    <div class="booking">
        <h1>Quản lí các đơn đặt phòng</h1>
        <form (ngSubmit)="onSubmit()" class="shadow-sm p-1 mb-2 bg-white rounded" id="changeBookingDate">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="startDate">Ngày bắt đầu</label>
                        <input id="startDate" name="startDate" class="form-control" type="date" [(ngModel)]="startDate">
                    </div>
                    <div class="col-md-3">
                        <label for="endDate">Ngày kết thúc</label>
                        <input id="endDate" name="endDate" class="form-control" type="date" [(ngModel)]="endDate">
                    </div>
                    <div class="col-md-5">
                        <label class="text-breack" id="tip">Tìm kiếm đơn đặt nằm trong khoảng ngày bắt đầu và kết thúc</label>
                        <button id="tip" class="btn btn-success" type="submit">Xác nhận</button>
                    </div>
                </div>
            </div>
        </form>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Mã đặt</th>
                    <th scope="col">Ngày đặt</th>
                    <th scope="col">Ngày nhận</th>
                    <th scope="col">Ngày trả</th>
                    <th scope="col">Tên khách hàng</th>
                    <th scope="col">Số đêm</th>
                    <th scope="col">Tổng tiền</th>
                    <th scope="col">Chức năng</th>
                </tr>
            </thead>
            <tbody *ngIf="!isDataResponseUndefined">
                <tr *ngFor="let data of dataResponse.data; index as i;">
                    <th scope="row">{{data.bookingID}}</th>
                    <td>{{data.bookingDate | date: 'dd-MM-yyyy'}}</td>
                    <td>{{data.checkInDate | date: 'dd-MM-yyyy'}}</td>
                    <td>{{data.checkOutDate | date: 'dd-MM-yyyy'}}</td>
                    <td>{{data.customerName}}</td>
                    <td>{{data.nightAmount}}</td>
                    <td>{{data.totalPrice}} VNĐ</td>
                    <td>
                        <span class="function">
                            <button class="btn btn-info function-btn" (click)="openUserInformationModal(i)">Xem</button>
                            <button class="btn btn-danger function-btn">Xóa</button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>     
    </div>
</div>
<div class="modal fade" id="userInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Thông tin chi tiết</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="infoForm">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="bookingID">Mã đặt</label>
                            <input [disabled]="true" class="form-control" id="bookingID" name="bookingID" [(ngModel)]="dataIndex.bookingID">
                        </div>
                        <div class="col-md-5">
                            <label for="bookingDate">Ngày đặt</label>
                            <input [disabled]="true" class="form-control" type="date" id="bookingDate" name="bookingDate" [(ngModel)]="dataIndex.bookingDate">
                        </div>
                        <div class="col-md-5">
                            <label for="bookingStatus">Trạng thái</label>
                            <input [disabled]="true" class="form-control" id="bookingStatus" name="bookingStatus" [(ngModel)]="dataIndex.bookingStatus">
                        </div>
                    </div>
                    
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="checkInDate">Ngày nhận phòng</label>
                            <input [disabled]="true" class="form-control" type="date" id="checkInDate" name="checkInDate" [(ngModel)]="dataIndex.checkInDate">
                        </div>
                        <div class="col-md-6">
                            <label for="checkOutDate">Ngày trả phòng</label>
                            <input [disabled]="true" class="form-control" type="date" id="checkOutDate" name="checkOutDate" [(ngModel)]="dataIndex.checkOutDate">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            <label for="payment">Phương thức thanh toán</label>
                            <input [disabled]="true" class="form-control" type="text" id="payment" name="payment" [(ngModel)]="dataIndex.customerPaymentMethods">
                        </div>
                        <div class="col-md-4">
                            <label for="totalPrice">Tổng tiền (VNĐ)</label>
                            <input [disabled]="true" class="form-control" type="text" id="totalPrice" name="totalPrice" [(ngModel)]="dataIndex.totalPrice">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="customerID">Mã khách hàng</label>
                            <input [disabled]="true" class="form-control" type="text" id="customerID" name="customerID" [(ngModel)]="dataIndex.customerID">
                        </div>
                        <div class="col-md-4">
                            <label for="customerName">Tên người đặt</label>
                            <input [disabled]="true" class="form-control" type="text" id="customerName" name="customerName" [(ngModel)]="dataIndex.customerName">
                        </div>
                        <div class="col-md-4">
                            <label for="employeeID">Mã nhân viên</label>
                            <input [disabled]="true" class="form-control" type="text" id="employeeID" name="employeeID" [(ngModel)]="dataIndex.employeeID">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="bookingNote">Ghi chú</label>
                            <textarea rows="3" class="form-control" type="text" id="bookingNote" name="bookingNote" [(ngModel)]="dataIndex.bookingNote"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary" (click)="approveBookingOfCus()">Duyệt phòng</button>
        </div>
      </div>
    </div>
  </div>
